.button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #c18830;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
}

.button:hover {
  opacity: 90%;
}

.disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.disabled:hover {
  opacity: 50%;
}
